<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-vertical-stepper [linear]="isLinear" #stepper>

    <mat-step *ngFor="let question of questions" [stepControl]="firstFormGroup">

      <form [formGroup]="questionsForm">
        <ng-template matStepLabel>{{question.question}}</ng-template>

          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="true">True</mat-radio-button>
            <mat-radio-button value="false">False</mat-radio-button>
          </mat-radio-group>
          
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button (click)="questionaireCompleted()">Okay</button>
      </div>
    </mat-step>
    
  </mat-vertical-stepper>
  